@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Light.woff2") format(".woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-Bold.woff2") format(".woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yantramanav";
  src: url("/fonts/Yantramanav-Bold.woff2") format(".woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  background-color: #131619;
  font-family: "Heebo", sans-serif;
  color: #C4C4C4;
  font-size: 16px;
  line-height: 1.75;
}

a {
  color: #ffffff;
}

a:hover {
  color: #C4C4C4;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding-inline: 26px;
  white-space: nowrap;
}

.button:hover {
  background-color: #C4C4C4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: auto;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.container {
  max-width: 1330px;
  margin-inline: auto;
  padding-inline: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 32px;
}
.header .header-logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .header-menu .header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.header .header-menu .header-menu-list .header-menu-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  height: 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-menu .header-menu-list .header-menu-link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  margin-left: 7px;
  background-color: #ffffff;
  border-radius: 30px;
}
.header .header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header .header-actions .header-burger-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
    row-gap: 10px;
    padding-inline: 15px;
  }
  .header .header-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header .header-menu .header-menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header-menu .header-menu-list .header-menu-link {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
  .header .header-menu .header-menu-list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .header .header-menu .header-menu-list .header-menu-link {
    height: 30px;
  }
  .header .header-actions {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .button {
    padding-inline: 14px;
    font-size: 14px;
  }
}